<section class="container success mt-5 pt-5 page-cart">
    <h3 class="text-center">Giỏ hàng</h3>
    {# <div class="row cart-list">
        <div class="col-6 col-md-3">
            <img class="popup-product-img" src="/images/product-2.jpg" alt="">
        </div>
        <div class="col-6 col-md-6">
            <h5 class="popup-product-name">Ghế lắc gỗ nhỏ</h5>
            <p class="popup-product-price">1000000</p>
        </div>
        <div class="col-12 col-md-3">
            <p>Số lượng:
                <span class="amountProduct">1</span>
            </p>
        </div>
    </div> #}
</section>