<div class="container form">
    <form action="/v1/api/user/forgetPassword" method="POST">
        <label class="form__label block mb-1">Nhập email</label>
        <input name="email" type="email" class="form__input block mb-3">
            <button type="submit" class="btn btn-2">Reset</button>
        </div>
    </form>
</div>