    <section class="container">
        <div class="slide">
            <div class="slide__item">
                <img src="images/slide-1.jpg" alt="" class="slide__image">
            </div>
            <div class="slide__item">
                <img src="images/slide-2.jpg" alt="" class="slide__image">
            </div>
            <div class="slide__item">
                <img src="images/slide-3.jpg" alt="" class="slide__image">
            </div>
        </div>

        <div class="ads-product row">
            <div class="col"><img src="images/product-1.jpg" alt=""></div>
            <div class="col"><img src="images/product-2.jpg" alt=""></div>
            <div class="col"><img src="images/product-3.jpg" alt=""></div>
        </div>

        <div class="block">
            <h2 class="heading text-center">Sản phẩm mới</h2>
            <div class="new-product row">
                <div class="col product">
                    <figure>
                        <a href="">
                            <img class="product__image" src="images/product-1.jpg" alt="">
                        </a>
                        <figcaption class="product__info text-center">
                            <p class="product__name">Ghế cao cấp</p>
                            <p class="product__old-price">2.000.000 VND</p>
                            <p class="product__price">1.400.000 VND</p>
                        </figcaption>
                    </figure>
                    <div class="text-center">
                        <a href="" class="btn">MUA NGAY</a>
                    </div>
                </div>
                <div class="col product">
                    <figure>
                        <a href="">
                            <img class="product__image" src="images/product-1.jpg" alt="">
                        </a>
                        <figcaption class="product__info text-center">
                            <p class="product__name">Ghế cao cấp</p>
                            <p class="product__old-price">2.000.000 VND</p>
                            <p class="product__price">1.400.000 VND</p>
                        </figcaption>
                    </figure>
                    <div class="text-center">
                        <a href="" class="btn">MUA NGAY</a>
                    </div>
                </div>
                <div class="col product">
                    <figure>
                        <a href="">
                            <img class="product__image" src="images/product-1.jpg" alt="">
                        </a>
                        <figcaption class="product__info text-center">
                            <p class="product__name">Ghế cao cấp</p>
                            <p class="product__old-price">2.000.000 VND</p>
                            <p class="product__price">1.400.000 VND</p>
                        </figcaption>
                    </figure>
                    <div class="text-center">
                        <a href="" class="btn">MUA NGAY</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="block">
            <h2 class="heading text-center">Sản phẩm nổi bật</h2>
            <div class="most-product row">
                <div class="col product">
                    <figure>
                        <a href="">
                            <img class="product__image" src="images/product-1.jpg" alt="">
                        </a>
                        <figcaption class="product__info text-center">
                            <p class="product__name">Ghế cao cấp</p>
                            <p class="product__old-price">2.000.000 VND</p>
                            <p class="product__price">1.400.000 VND</p>
                        </figcaption>
                    </figure>
                    <div class="text-center">
                        <a href="" class="btn">MUA NGAY</a>
                    </div>
                </div>
                <div class="col product">
                    <figure>
                        <a href="">
                            <img class="product__image" src="images/product-1.jpg" alt="">
                        </a>
                        <figcaption class="product__info text-center">
                            <p class="product__name">Ghế cao cấp</p>
                            <p class="product__old-price">2.000.000 VND</p>
                            <p class="product__price">1.400.000 VND</p>
                        </figcaption>
                    </figure>
                    <div class="text-center">
                        <a href="" class="btn">MUA NGAY</a>
                    </div>
                </div>
                <div class="col product">
                    <figure>
                        <a href="">
                            <img class="product__image" src="images/product-1.jpg" alt="">
                        </a>
                        <figcaption class="product__info text-center">
                            <p class="product__name">Ghế cao cấp</p>
                            <p class="product__old-price">2.000.000 VND</p>
                            <p class="product__price">1.400.000 VND</p>
                        </figcaption>
                    </figure>
                    <div class="text-center">
                        <a href="" class="btn">MUA NGAY</a>
                    </div>
                </div>
                <div class="col product">
                    <figure>
                        <a href="">
                            <img class="product__image" src="images/product-1.jpg" alt="">
                        </a>
                        <figcaption class="product__info text-center">
                            <p class="product__name">Ghế cao cấp</p>
                            <p class="product__old-price">2.000.000 VND</p>
                            <p class="product__price">1.400.000 VND</p>
                        </figcaption>
                    </figure>
                    <div class="text-center">
                        <a href="" class="btn">MUA NGAY</a>
                    </div>
                </div>
            </div>
        </div>


    </section>