<nav class="admin-navbar row no-gutters">
    <div class="logo text-center">
        <img src="/images/logo.png" alt="">
    </div>
    <div class="toggle-btn ml-5">
        <i class="fas fa-bars fa-lg active" id="toggle-dashboard"></i>
    </div>
    <div class="user-info ml-auto">
        <i class="far fa-bell fa-lg mr-3"><span class="badge badge-primary">1</span></i>
        <i class="fas fa-list fa-lg mr-3"><span class="badge badge-warning">1</span></i>
        <i class="far fa-envelope-open fa-lg mr-3"><span class="badge badge-danger">1</span></i>
        <img src="https://dummyimage.com/55x55/000/fff" alt="" class="avatar mr-3">
    </div>

</nav>
<div class="admin-body">
    <aside class="sidebar">
        <div class="manager">
            <h2 class="manager__title mt-3">Dashboard</h2>
            <ul class="manager__list">
                <li class="manager__item active"><i class="far fa-user mr-2"></i>Tài khoản</li>
                <li class="manager__item"><i class="fas fa-list-ul mr-2"></i>Sản phẩm</li>
            </ul>
        </div>
    </aside>
    <main class="main">
        <div class="main-content active pt-3" data-mapping="Tài khoản">
            <div class="mx-5">
                <button class="btn btn-2 mb-3" id="addAccount">Thêm tài khoản</button>
                <table class="table table-striped text-center account-table">
                    <thead>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>Tên tài khoản</th>
                            <th>Ngày khởi tạo</th>
                            <th>Vai trò</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>tientranmac</td>
                            <td>1/1/2018</td>
                            <td>Quản trị viên</td>
                            <td>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>tientranmac</td>
                            <td>1/1/2018</td>
                            <td>Cộng tác viên</td>
                            <td>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>tientranmac</td>
                            <td>1/1/2018</td>
                            <td>Cộng tác viên</td>
                            <td>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>tientranmac</td>
                            <td>1/1/2018</td>
                            <td>Cộng tác viên</td>
                            <td>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="main-content  pt-3" data-mapping="Sản phẩm">
            <div class="mx-5">
                <button class="btn btn-2 mb-3" id="addProductBtn">Thêm sản phẩm</button>
                <table class="table table-striped text-center product-table">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Loại sản phẩm</th>
                            <th>Giá niêm yết</th>
                            <th>Giá cũ</th>
                            <th>Màu sắc</th>
                            <th>Mô tả</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ghế lắc</td>
                            <td>Ghế</td>
                            <td>2.500.000</td>
                            <td>3.000.000</td>
                            <td>
                                <span class="color" style="background-color: red"></span>
                            </td>
                            <td class="description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dignissimos repudiandae officia corporis atque perspiciatis? Eos odio modi dicta sunt, aperiam eligendi soluta tempora laborum. Distinctio maiores odio incidunt
                                temporibus.
                            </td>
                            <td>
                                <button class="btn-admin btn-admin-edit">Sửa</button>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ghế lắc</td>
                            <td>Ghế</td>
                            <td>2.500.000</td>
                            <td>3.000.000</td>
                            <td>
                                <span class="color" style="background-color: red"></span>
                            </td>
                            <td class="description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dignissimos repudiandae officia corporis atque perspiciatis? Eos odio modi dicta sunt, aperiam eligendi soluta tempora laborum. Distinctio maiores odio incidunt
                                temporibus.
                            </td>
                            <td>
                                <button class="btn-admin btn-admin-edit">Sửa</button>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ghế lắc</td>
                            <td>Ghế</td>
                            <td>2.500.000</td>
                            <td>3.000.000</td>
                            <td>
                                <span class="color" style="background-color: red"></span>
                            </td>
                            <td class="description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dignissimos repudiandae officia corporis atque perspiciatis? Eos odio modi dicta sunt, aperiam eligendi soluta tempora laborum. Distinctio maiores odio incidunt
                                temporibus.
                            </td>
                            <td>
                                <button class="btn-admin btn-admin-edit">Sửa</button>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ghế lắc</td>
                            <td>Ghế</td>
                            <td>2.500.000</td>
                            <td>3.000.000</td>
                            <td>
                                <span class="color" style="background-color: red"></span>
                            </td>
                            <td class="description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dignissimos repudiandae officia corporis atque perspiciatis? Eos odio modi dicta sunt, aperiam eligendi soluta tempora laborum. Distinctio maiores odio incidunt
                                temporibus.
                            </td>
                            <td>
                                <button class="btn-admin btn-admin-edit">Sửa</button>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ghế lắc</td>
                            <td>Ghế</td>
                            <td>2.500.000</td>
                            <td>3.000.000</td>
                            <td>
                                <span class="color" style="background-color: red"></span>
                            </td>
                            <td class="description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dignissimos repudiandae officia corporis atque perspiciatis? Eos odio modi dicta sunt, aperiam eligendi soluta tempora laborum. Distinctio maiores odio incidunt
                                temporibus.
                            </td>
                            <td>
                                <button class="btn-admin btn-admin-edit">Sửa</button>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ghế lắc</td>
                            <td>Ghế</td>
                            <td>2.500.000</td>
                            <td>3.000.000</td>
                            <td>
                                <span class="color" style="background-color: red"></span>
                            </td>
                            <td class="description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dignissimos repudiandae officia corporis atque perspiciatis? Eos odio modi dicta sunt, aperiam eligendi soluta tempora laborum. Distinctio maiores odio incidunt
                                temporibus.
                            </td>
                            <td>
                                <button class="btn-admin btn-admin-edit">Sửa</button>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ghế lắc</td>
                            <td>Ghế</td>
                            <td>2.500.000</td>
                            <td>3.000.000</td>
                            <td>
                                <span class="color" style="background-color: red"></span>
                            </td>
                            <td class="description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dignissimos repudiandae officia corporis atque perspiciatis? Eos odio modi dicta sunt, aperiam eligendi soluta tempora laborum. Distinctio maiores odio incidunt
                                temporibus.
                            </td>
                            <td>
                                <button class="btn-admin btn-admin-edit">Sửa</button>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ghế lắc</td>
                            <td>Ghế</td>
                            <td>2.500.000</td>
                            <td>3.000.000</td>
                            <td>
                                <span class="color" style="background-color: red"></span>
                            </td>
                            <td class="description text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dignissimos repudiandae officia corporis atque perspiciatis? Eos odio modi dicta sunt, aperiam eligendi soluta tempora laborum. Distinctio maiores odio incidunt
                                temporibus.
                            </td>
                            <td>
                                <button class="btn-admin btn-admin-edit">Sửa</button>
                                <button class="btn-admin btn-admin-delete">Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<div class="modal" id="modal-edit">
    <div class="modalContent">
        <div class="close-modal modalClose"><i class="fas fa-times fa-lg"></i></div>
        <h2 class="text-center">Sửa sản phẩm</h2>
        <div class="smallInfo">
            <div class="infoLabel">Tên sản phẩm</div>
            <input class="form-control" type="text">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Giá niêm yết</div>
            <input class="form-control" type="text" placeholder="Giá bán ra">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Giá cũ</div>
            <input class="form-control" type="text" placeholder="Thành tiền khi chưa giảm giá">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Hình đại diện</div>
            <input class="form-control" type="file" id="thumnailFileUpload">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Ảnh sản phẩm</div>
            <input class="form-control" type="file" id="thumnailFileUpload" multiple>
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Mô tả</div>
            <textarea class="form-control" rows="5" cols="40" id="descriptionEditor"></textarea>
        </div>

        <div class="text-center btns">
            <button class="btn btn-2 btn-width">Sửa</button>
            <button class="btn btn-danger btn-width close-modal">Hủy</button>
        </div>
    </div>
</div>
<div class="modal" id="modal">
    <div class="modalContent">
        <div class="close-modal modalClose"><i class="fas fa-times fa-lg"></i></div>
        <h2 class="text-center">Thêm sản phẩm</h2>
        <div class="smallInfo">
            <div class="infoLabel">Tên sản phẩm</div>
            <input class="form-control" type="text">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Giá niêm yết</div>
            <input class="form-control" type="text" placeholder="Giá bán ra">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Giá cũ</div>
            <input class="form-control" type="text" placeholder="Thành tiền khi chưa giảm giá">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Hình đại diện</div>
            <input class="form-control" type="file" id="thumnailFileUpload">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Ảnh sản phẩm</div>
            <input class="form-control" type="file" id="thumnailFileUpload" multiple>
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Mô tả</div>
            <textarea class="form-control" rows="5" cols="40" id="descriptionEditor"></textarea>
        </div>

        <div class="text-center btns">
            <button class="btn btn-2 btn-width">Thêm</button>
            <button class="btn btn-danger btn-width close-modal">Hủy</button>
        </div>
    </div>
</div>

<div class="modal modal-account" id="modal-account">
    <div class="modalContent">
        <div class="close-modal modalClose"><i class="fas fa-times fa-lg"></i></div>
        <h2 class="text-center">Thêm tài khoản</h2>
        <div class="smallInfo">
            <div class="infoLabel">Tên tài khoản</div>
            <input class="form-control" type="text">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Mật khẩu</div>
            <input class="form-control" type="password">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Xác nhận mật khẩu</div>
            <input class="form-control" type="password">
        </div>
        <div class="smallInfo">
            <div class="infoLabel">Vai trò</div>
            <div class="select-wrapper">
                <select name="" id="">
                    <option value="">Quản trị viên</option>
                    <option value="">Cộng tác viên</option>
                </select>
            </div>
        </div>
        <div class="text-center btns">
            <button class="btn btn-2 btn-width">Thêm</button>
            <button class="btn btn-danger btn-width close-modal">Hủy</button>
        </div>
    </div>
</div>